body {
	margin: 0;
}

header::after {
	content: '';
	display: block;
	clear:both;
}

header , footer{
	background: #829aa8;
}
section {
	background: linear-gradient(to bottom right, #B0B0B0, #D0D0D0 );
	border: 2px solid black;
}