html, body {
	height: 100%;
}

body, * {
	margin: 0;
	box-sizing: border-box;
}

header::after {
	content: '';
	display: block;
	clear:both;
}

header , footer{
	background: #829aa8;
	height: 10%
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

section {
	background: linear-gradient(to bottom right, #B0B0B0, #D0D0D0 );
	border: 2px solid black;
	height: 80%;
}

section nav {
	float: left;
	width: 15%;
	height: 100%;
	border-right: 1px solid #000000;
}

article {
	float: left;
	width: 85%;
	height: 100%;
}

header h1 {
	float: left;
	margin: 10px;
}

header button {
	float: right;
	margin: 20px;
}

#feed_btn, #profile_btn {
	width: 100%;
	height: 35px;
}

#add_new_post {
	box-sizing: border-box;
}

#add_new_post input {
	width: 90%;
	height: 30px;
}

#add_new_post button {
	width: 10%;
	height: 30px;
	float: right;
}

h4 {
	text-align: center;
	padding: 20px 0px 20px 0px;
	margin: 0;
}

.feed::after {
	content: '';
	display: block;
	clear:both;
}

.feed {
	padding: 10px;
	background-color: #F0F8FF;
	margin: 10px;
	/* height: 54px; */
}

.feed_time {
	float: right;
	/* margin-top: 32px; */
	/* margin-left: 18px; */
}
.feed_text {
	/* width: 550px; */
	white-space: nowrap;
	/* float: left; */
	margin: 15px 0 0 0;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}

.delete_feed{
	border: none;
	background: none;
	float: right;
}

.feed img {
	float: left;
	margin-right: 10px;
}

#post_list {
	overflow-y: scroll;
}

#profile_container {
	background: #ffffff;
	height: 100%;
}

.active {
	background: #F2E48C;
}