#index-bg {
	position: "absolute";
	width: "100%";
}

#title_index {
	font-size: 40px;
	font-weight: bold;
}

#header {
	padding:5px;
}

#content {
	margin-left: auto;
    margin-right: auto;
	width: 70%;
	padding: 5px;
}

#footer {
	padding:5px;
	text-align:center;
}

#header , #footer {
	background-color: #D3D3D3; 
}