<!DOCTYPE html>
<html>
	<head>
		<title>Feeds</title>
		<link href="../css/feeds.css" rel="stylesheet"/>
		<link href="../css/profile.css" rel="stylesheet"/>
	</head>
	<body ng-app="feeds" ng-controller="FeedController as feedCtrl">
		<header>
			<h1>My Book</h1>
			<button id="signout_btn" ng-click="feedCtrl.logout()">Sign out</button>
		</header>
		<section>
			<nav>
				<button id="feed_btn" ng-click="feedCtrl.selectTab(1)"
				ng-class="{active: feedCtrl.isSelectedTab(1)}">Feed</button></br>
				<button id="profile_btn" ng-click="feedCtrl.selectTab(2)"
				ng-class="{active: feedCtrl.isSelectedTab(2)}">Profile</button></br>
			</nav>
			<article>
				<div id="feed_container" ng-show="feedCtrl.isSelectedTab(1)">
					<div id="add_new_post">
						<input name="newpost" type="text" placeholder="Text feed or URL feed" ng-model="feedCtrl.post.message"/> 
						<button ng-click="feedCtrl.createPost()">Post</button></br>
					</div>
					<div id="post_list">
						<div ng-repeat="feed in feedCtrl.feeds track by $index" class="feed">
							<img width="50" height="50" src="../images/thumbnail/empty-profile.png">
							<button class="delete_feed" ng-click="feedCtrl.deletePost($index)">
								<img width="20" height="20" src="../images/thumbnail/close.png">
							</button>
							<span class="feed_text">
								<a ng-if="feed.getType() === 'url'" href={{feed.getFeed()}} target="_blank">{{feed.getFeed()}}</a>
								<span ng-if="feed.getType() === 'text'">{{feed.getFeed()}}</span>
							</span>
							<span class="feed_time">{{feed.getDate() | date:"MM/dd/yyyy h:mma"}}</span>
						</div>
					</div>
				</div>
				<div id="profile_container" ng-show="feedCtrl.isSelectedTab(2)">
					<iframe frameBorder="0" width=100% height=100% src="profile.html"></iframe>
				</div>
			</article>
		</section>
		<footer>
			<h4>Talent improving exercise, OFS</h4>
		</footer>		
		<script src="../lib/js/angular.min.js"></script>
		<script src="../javascript/services.js"></script>
		<script src="../javascript/feeds.js"></script>
		<script src="../javascript/profile.js"></script>
	</body>
</html>